#input{
    border: 2px solid wheat;
    height: 40px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    font-size: 30px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    border-radius: 20px;
    padding: 10px;
    margin-left: 500px;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
button{
    width:50px;
    height: 50px;
    border:none;
    background-color:antiquewhite;
    border-radius: 13px;
    font-size: 18px;
    margin: 3px;
}
body{
    background-color: black;
}
.calculator{
    background-color:rgb(25, 25, 25);
    padding: 10px;
}
